

<main>
	<div class="row">
		<div class="col-sm-8">
			<div class="jumbotron">
				<h1 class="page-title">Contact</h1>
				<h4>Feel free to contact me by sending a message here!</h4>
				<form method="app.get" action="/">
					<div>
						<label>First Name:</label>
						<input type="text" required placeholder="John" />
					</div>

					<div>
						<label>Last Name:</label>
						<input type="text" required placeholder="Doe" />
					</div>
					<div>
						<label>Phone number:</label>
						<input type="number" id="number" />
					</div>
					<div>
						<label>Email:</label>
						<input
							type="email"
							id="email"
							placeholder="JohnDoe@example.com"
							required
						/>
					</div>

					<div>
						<label>Message:</label>
						<input
							type="text"
							required
							size="50"
							style="height: 100px"
							placeholder="Enter your message here"
						/>
					</div>

					<div>
						<button type="submit">Send Message</button>
						<button type="reset">Clear Form</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="jumbotron">
			<h3>Contact Info</h3>
			<ul>
				<li>Name: Steven Chen</li>
				<li>Phone Number: 647-893-1395</li>
				<li>Email: schen196@my.centennialcollege.ca</li>
			</ul>
		</div>
	</div>
</main>

