
<!-- Homepage content -->
<main>
	<div class="jumbotron">
		<h1 class="page-title">Welcome</h1>
		<p>Welcome to my Portfolio!</p>
		<p>
			To navigate through the site, the navigation above will be able to redirect you to any specific infomation that you are looking for.
		</p>
	</div>
</main>
