<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="jumbotron">
				<h1 style="text-align: center">Services</h1>
				<p>Here are a few of the services that I offer:</p>
				<ul>
					<li>Computer Building</li>
					<img src="images/computer.jpg" style="width: 50%; height: 50%" />
					<li>Keyboard Building</li>
					<img src="images/keyboard.jpg" style="width: 50%; height: 50%" />
					<li>C# Coding</li>
					<img src="images/c.png" style="width: 50%; height: 50%" />
					<li>Web design</li>
					<img src="images/web.png" style="width: 50%; height: 50%" />
					<li>Java Coding</li>
					<img src="images/java.png" style="width: 50%; height: 50%" />
				</ul>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
